﻿@using AIDL.Shared.Service
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Patente Punjabi AIDL ( Arora italian driving license ) proides best training of patente italian  driving license in italy. Also suscribe our youtube channel patente punjabi AIDL for daily italian tazza news in Punjabi.">
    <meta name="keywords" content="patente, punjabi, aidl, news, khabra,Italian news in Punjabi, arora, italian, driving, license, lesson, italian driving lesson punjai, italian driving lesson hindi, italian driving lesson bengali, italian driving lesson urdu">
    <title>@ViewBag.Title | AIDL | Arora Italian Driving License</title>
    @*prefetching*@
    <link href="//www.aroraitaliandrivinglicense.com" rel="dns-prefetch" />
    <link href="https://stackpath.bootstrapcdn.com/" rel="dns-prefetch" />
    <link href="https://www.googletagmanager.com" rel="dns-prefetch" />
    <link href="https://ajax.googleapis.com/" rel="dns-prefetch" />
    <link rel="prefetch" href="/Content/img/icon.svg">
    <link rel="prefetch" href="/Content/img/icon.svg">
    @*fav icons start*@
    <link rel="shortcut icon" href="/Content/img/fav-icons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/Content/img/fav-icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/fav-icons/apple-icon-57x57.png" async>
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/img/fav-icons/apple-icon-60x60.png" async>
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/img/fav-icons/apple-icon-72x72.png" async>
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/img/fav-icons/apple-icon-76x76.png" async>
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/img/fav-icons/apple-icon-114x114.png" async>
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/img/fav-icons/apple-icon-120x120.png" async>
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/img/fav-icons/apple-icon-144x144.png" async>
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/img/fav-icons/apple-icon-152x152.png" async>
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/img/fav-icons/apple-icon-180x180.png" async>
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/img/fav-icons/android-icon-192x192.png" async>
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/img/fav-icons/favicon-32x32.png" async>
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/img/fav-icons/favicon-96x96.png" async>
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/img/fav-icons/favicon-16x16.png" async>
    <link rel="manifest" href="/Content/img/fav-icons/manifest.json" async>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/img/fav-icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @*fav icons end*@
    @*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    @Styles.Render("~/Content/Css/HomeLayout")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/Css/css_developer")
    @*<link rel="stylesheet" href="/Content/css/font-awesome.min.css">
        <link rel="stylesheet" href="/Content/css/animate/animate.min.css">
        <link rel="stylesheet" href="/Content/css/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/Content/css/owl-carousel/owl.theme.default.min.css">
        <link rel="stylesheet" href="/Content/css/.css">*@


    @*GA Script Start*@
    @*aidl-275305*@
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122729073-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-122729073-1');
    </script>
    @*GA Script End*@
    <style>
        #preloader {
            opacity: 0.9;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            z-index: 99
        }

        .loader {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center
        }

        .car__body {
            animation: shake .2s ease-in-out infinite alternate
        }

        .car__line {
            transform-origin: center right;
            stroke-dasharray: 22;
            animation: line .8s ease-in-out infinite;
            animation-fill-mode: both
        }

        .car__line--top {
            animation-delay: 0s
        }

        .car__line--middle {
            animation-delay: .2s
        }

        .car__line--bottom {
            animation-delay: .4s
        }

        @@keyframes shake {
            0% {
                transform: translateY(-1%)
            }

            100% {
                transform: translateY(3%)
            }
        }

        @@keyframes line {
            0%, 25% {
                stroke-dashoffset: 22
            }

            50%, 51% {
                stroke-dashoffset: 0
            }

            100%, 80% {
                stroke-dashoffset: -22
            }
        }
    </style>
</head>
<body id="page-top">
    <!--Message-->
    <div id="div_msg" class="display-none">
        <strong class="msg-color"></strong>
    </div>

    <!--====================================================
                             HEADER
    ======================================================-->
    <header id="header">

        <!-- Top Navbar  -->
        <div class="top-menubar">
            <div class="topmenu">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <ul class="list-inline top-contacts">
                                <li>
                                    <i class="fa fa-envelope"></i> Email: <a href="mailto:gurwinarora@gmail.com">gurwinarora@gmail.com</a>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i> Hotline: <a href="tel:393801940123">+39 380 194 0123</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <ul class="list-inline top-data">
                                <li><a href="#" target="_empty"><i class="fa top-social fa-facebook"></i></a></li>
                                <li><a href="#" target="_empty"><i class="fa top-social fa-google-plus"></i></a></li>
                                @{clsAuthentication.checkUserAuthenticatin();
                                    if (clsAuthentication.IsAuthenticated)
                                    {
                                        <li>
                                            <span class="log-top"><b>Welcome : @clsAuthentication.UserName    </b></span>
                                        </li>
                                        <li>@Html.ActionLink("Log out", "LogOut", "Login", null, new { @class = "log-top" })</li>
                                    }

                                    else
                                    {
                                        <li><a href="/Login" class="log-top">Login</a></li>
                                    }
                                }


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <div style="height: auto;"></div><nav class="navbar navbar-expand-lg navbar-light" id="mainNav" data-toggle="affix">
            <div class="container">
                <a class="navbar-brand smooth-scroll" href="/.">
                    <img src="/content/img/logo-small.png" alt="logo" class="navbar-logo">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link smooth-scroll" href="/.">Home</a></li>
                        <li class="nav-item"><a class="nav-link smooth-scroll" href="/about-us">About Us</a></li>
                        <li class="nav-item"><a class="nav-link smooth-scroll" href="/services">Services</a></li>
                        <li class="nav-item"><a class="nav-link smooth-scroll" href="/punjabi/lessons">Lessons</a></li>
                        @*<li class="nav-item"><a class="nav-link smooth-scroll" href="/fees">Fees</a></li>*@
                        <li class="nav-item"><a class="nav-link smooth-scroll" href="/contact-us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--====================================================
                          RENDER BODY
    ======================================================-->
    @RenderBody()
    <!--====================================================
                          FOOTER
    ======================================================-->
    <footer>
        <div id="footer-s1" class="footer-s1">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <!-- About Us -->
                        <div class="col-md-3 col-sm-6 ">
                            <div><img src="/content/img/logo-small.png" alt="" class="img-fluid"></div>
                            <ul class="list-unstyled comp-desc-f">
                                <li><p><abbr title="Arora Italian Driving License">AIDL</abbr> are one of the best Drivers Training School in Italy. </p></li>
                            </ul><br>
                        </div>
                        <!-- End About Us -->
                        <!-- Recent News -->
                        <div class="col-md-3 col-sm-6 ">
                            <div class="heading-footer"><h2>Useful Links</h2></div>
                            <ul class="list-unstyled link-list">
                                <li><a href="/about-us">About us</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="/services">Services</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="/punjabi/lessons">Lessons</a></li>
                                @*<li><a href="/fees">Fees</a></li>*@
                                <li><a href="/privacy-policy">Privacy Policy</a></li>
                                <li><a href="/contact-us">Contact us</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="/admin/login">Admin Login</a><i class=""></i></li>
                            </ul>
                        </div>
                        <!-- End Recent list -->
                        <!-- Recent Blog Entries -->
                        <div class="col-md-3 col-sm-6 ">
                            <div class="heading-footer"><h2>Recent Post Entries</h2></div>
                            <ul class="list-unstyled thumb-list">
                                <li>
                                    <div class="overflow-h">
                                        <a href="#">We are going to live soon.Any News/Information Here.</a>
                                        <small>24 Jul, 2018</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Recent Blog Entries -->
                        <!-- Latest Tweets -->
                        <div class="col-md-3 col-sm-6">
                            <div class="heading-footer"><h2>Get In Touch</h2></div>
                            <address class="address-details-f">
                                Italy <br>
                                Phone: <a href="tel:393801940123">+39 380 194 0123</a><br />
                                Email: <a href="mailto:gurwinarora@gmail.com">gurwinarora@gmail.com</a>
                            </address>
                            <ul class="list-inline social-icon-f top-data">
                                <li><a href="#" target="_empty"><i class="fa top-social fa-facebook"></i></a></li>
                                <li><a href="#" target="_empty"><i class="fa top-social fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Latest Tweets -->
                    </div>
                </div><!--/container -->
            </div>
        </div>
        <div id="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="footer-copyrights">
                            <p>Copyrights &copy; @DateTime.Now.Year All Rights Reserved by Arora Italian Driving License.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#header" id="back-to-top" class="btn btn-sm btn-green btn-back-to-top smooth-scrolls hidden-sm hidden-xs" title="home" role="button">
            <i class="fa fa-angle-up"></i>
        </a>
    </footer>

    @*Scripts*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery/jquery.validate.bundle.min.js"></script>
    @Scripts.Render("~/bundles/HomeLayout")
    @*<script src="/Scripts/popper/popper.min.js"></script>
        <script src="/Scripts/bootstrap/bootstrap.min.js"></script>
        <script src="/Scripts/wow/wow.min.js"></script>
        <script src="/Scripts/owl-carousel/owl.carousel.min.js"></script>*@
    <!-- Plugin JavaScript -->
    @*<script src="/Scripts/jquery-easing/jquery.easing.min.js"></script>
        <script src="/Scripts/jquery.nicescroll.js"></script>*@
    @Scripts.Render("~/bundles/Custom")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/Js_Developer")

    <script type="text/javascript">
    @Html.Raw(TempData["Msg"])
    @{ TempData.Remove("Msg");}
    @Html.Raw(ViewBag.Msg);
    </script>
</body>
</html>
