﻿@{
    ViewBag.Title = "Home Admin";
}

@section BoxHeader{
    <h3 class="box-title">Admin Home</h3>
    @*    <a href='@Url.Action("Index", "Coupon")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"> Add Coupon Option</i></a>*@
}
<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <h1>
                Admin Home
            </h1>
        </div>
    </div>
</div>
