﻿@model LessonModel
@using PagedList.Mvc
@{
    ViewBag.Title = ViewBag.Language + " Lessons";
}
@section styles{
    @Styles.Render("~/Content/Css/ContentPages")
    @Styles.Render("~/Content/Css/Player/AudioViewer")
}
<section id="business-growth-p1" class="business-growth-p1">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp">@ViewBag.Language Lessons</h1>
                <div class="heading-border"></div>
            </div>
        </div>
        <div class="row wow animated ">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3>@Model.title</h3>
                        <div class="heading-border-light"></div>
                    </div>
                    <div class="col-md-12">
                        @if (ViewBag.PageList != null)
                        {
                            @Html.PagedListPager((PagedList.IPagedList<tblLessons>)ViewBag.PageList, pageNumber => Url.RouteUrl("Lessons", new { id = pageNumber, language = ViewBag.Language }))
                        }
                        <audio preload="auto" controls>
                            <source src="@Model.audio">
                        </audio>
                    </div>
                    <div class="col-md-12 docs-pictures">
                        <img data-original="@Model.image" src="@Model.image" class="img-responsive" />
                    </div>
                    <div class="col-md-12 margintop20px">
                        @if (ViewBag.PageList != null)
                        {
                            @Html.PagedListPager((PagedList.IPagedList<tblLessons>)ViewBag.PageList, pageNumber => Url.RouteUrl("Lessons", new { id = pageNumber, language = ViewBag.Language }))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="margin-bottom-50px">
</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/audioplayer/audioplayer.js"></script>
    <script type="text/javascript" src="~/Scripts/viewerjs/viewer.min.js"></script>
    <script type="text/javascript" src="~/Scripts/viewerjs/jquery-viewer.js"></script>
    <script type="text/javascript" src="~/Scripts/viewerjs/main.js"></script>
    @*@Scripts.Render("~/bundles/player/audio")*@
    <script>
        $(function () {
            $('audio').audioPlayer();
        });
    </script>
}