﻿@model IEnumerable<AIDL.Repository.tblUsers>
@{
    ViewBag.title = "Register User";
}
@section BoxHeader{
    <h3 class="box-title">Manage Users</h3>
    <a href='@Url.Action("RegisterUser", "Users")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"> Add User</i></a>
}
@using (Html.BeginForm("RegisterUser", "Users", FormMethod.Post))
{

    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Valid Upto</th>
                            <th>Created On</th>
                            <th>Modified On</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.name</td>
                                    <td>@item.phone</td>
                                    <td>@item.email</td>
                                    <td>@Html.FormatDate(item.valid_upto)</td>
                                    <td>@Html.FormatDateTime(item.created_on)</td>
                                    <td>@Html.FormatDateTime(item.modified_on)</td>
                                    <td><a href="#"><span id='@("spanStatus"+item.Id)' class="label @(item.status == true ? "label-success" : "label-danger")">@(item.status == true ? "Active" : "InActive")</span></a></td>
                                    <td><a href="/admin/Users/RegisterUser/@item.Id" title="Edit User" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>&nbsp;</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            
            $('span[id^="spanStatus"]').on("click",function () {
                var statusid = $(this).attr('id');
                var id = statusid.replace('spanStatus', '');
                if (confirm('Are you sure,you want to change this status?') === true) {
                    $.ajax({
                        type: "post",
                        url: "/admin/users/ChangeStatusById",
                        data: { 'id': id },
                        success: function (id) {
                            showMessage("Status has been changed successfully", true)
                            if ($("#spanStatus" + id.toString()).text() === "Active")
                                $("#spanStatus" + id.toString()).text('InActive').toggleClass('label-success label-danger')
                            else
                                $("#spanStatus" + id.toString()).text('Active').toggleClass('label-success label-danger')
                        },
                        error: function (data) {
                            showMessage(data, false)
                        }

                    });
                }
            });
        })
    </script>
}
