﻿@model AIDL.Repository.tblUsers
@{
    ViewBag.title = "Register User";
}
@section BoxHeader{
    <h3 class="box-title"> Add/Update User </h3>
    <a href='@Url.Action("Index", "Users")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-eye" aria-hidden="true"> Manage Users</i></a>
}
@using (Html.BeginForm("RegisterUser", "Users", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.name, new { @type = "text", @maxlength = "50", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.name, null, new { @class = "error" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Phone</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.phone, new { @type = "text", @maxlength = "10", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.phone, null, new { @class = "error" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email/Username</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.email, new { @type = "text", @maxlength = "50", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.email, null, new { @class = "error" })
                    </div>
                </div>
                @*<div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.password, new { @type = "text", @maxlength = "50", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.password, null, new { @class = "error" })
                        </div>
                    </div>*@

                <div class="form-group">
                    <label class="col-sm-2 control-label">Valid Upto</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.valid_upto, "{0:yyyy/MM/dd}", new { @calendar = "enabledDates", @class = "form-control textboxfor" })
                        @Html.ValidationMessageFor(model => model.valid_upto, null, new { @class = "error" })
                    </div>
                </div>
                @*<div class="form-group">
                        <label class="col-sm-2 control-label">status</label>
                        <div class="col-sm-10">
                            <input name="status" class="flat-red" type="checkbox" @((Model == null) ? "" : ((Model.status == false) ? "" : @"checked='checked'"))>
                            @Html.HiddenFor(model => model.status)
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="box-footer">
        <center>
            <input type="submit" class="btn btn-success" value="Submit" />
            <a href='@Url.Action("Index")' class="btn btn-danger">Cancel</a>
        </center>
    </div>
}
@section scripts{
    @*<script type="text/javascript">
        $(function () {
            window.onload = function myfunction() {
                $('input[type="radio"]').on("ifChecked", function () {
                    alert($("input[id=status]:checked").val());
                });
            }
        });
    </script>*@
}
