﻿@model AIDL.Repository.tblLessons
@{
    ViewBag.Title = "Add";
}

@Html.HiddenFor(x => x.Id)
@{
    ViewBag.title = "Add Lesson";
}
@section BoxHeader{
    <h3 class="box-title"> Add/Edit Lesson </h3>
    <a href='@Url.Action("Index", "Lessons")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-eye" aria-hidden="true"> Manage Lessons</i></a>
}
@using (Html.BeginForm("Add", "Lessons", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    
    @Html.HiddenFor(model => model.Id)
    <div class="box-body">
        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Lesson Type</label>
                    <div class="col-sm-10">
                        @Html.DropDownList("LessonType", EnumHelper.GetSelectList(typeof(Enums.LessonLanguages)), null, new { @class = "form-control", @name = "lesson_type" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Page Number</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.page_number, new { @type = "text", @maxlength = "50", @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.page_number, null, new { @class = "error" })
                        <small>If only one page then 1 else if you want to add multiple pages then 1-5.</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Page Part</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="page_part" name="page_part">
                            <option value="0">None</option>
                            <option value="1">Part 1</option>
                            <option value="2">Part 2</option>
                            <option value="3">Part 3</option>
                            <option value="4">Part 4</option>
                            <option value="5">Part 5</option>
                            <option value="6">Part 6</option>
                            <option value="7">Part 7</option>
                            <option value="8">Part 8</option>
                            <option value="9">Part 9</option>
                            <option value="10">Part 10</option>
                        </select>
                        <small>If one page have multiple parts other wise leave it none.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Chapter</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="chapter" id="chapter">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                        </select>
                        @Html.ValidationMessageFor(x => x.chapter, null, new { @class = "error" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Lesson Audio</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.audio_file, new { @type = "file", @class = "form-control", @accept = "video/*, audio/*" })
                        @Html.ValidationMessageFor(x => x.audio_file, null, new { @class = "error" })
                        @if (!string.IsNullOrEmpty(Model.audio))
                        {
                            <a href="@AIDL.Shared.Service.clsUtils.GetAudioFilePath(Model.audio, Model.lesson_type)" target="_blank">Preview (" @Model.audio ")</a>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Lesson Image</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.image_file, new { @type = "file", @class = "form-control", @accept = "image/*" })
                        @Html.ValidationMessageFor(x => x.image_file, null, new { @class = "error" })
                        @if (!string.IsNullOrEmpty(Model.image))
                        {
                            <a href="@AIDL.Shared.Service.clsUtils.GetImageFilePath(Model.image,Model.lesson_type)" target="_blank">Preview (" @Model.image ")</a>
                        }
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="box-footer">
        <center>
            <input type="submit" class="btn btn-success" value="Submit" />
            <a href='@Url.Action("Index")' class="btn btn-danger">Cancel</a>
        </center>
    </div>
    @section Scripts{
        <script type="text/javascript">
        $(function () {
            if (@Model.Id != 0) {
                $('#page_part').val('@Model.page_part');
                $('#chapter').val('@Model.chapter');
            }
        });
        </script>
    }

}

