﻿@model IEnumerable<AIDL.Repository.tblLessons>
@{
    ViewBag.Title = "Manage Lessons";
}
@section BoxHeader{
    <h3 class="box-title">Manage Lessons</h3>
    <a href='@Url.Action("Add", "Lessons")' class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus" aria-hidden="true"> Add Lesson</i></a>
}
<div class="box-body">
    <div class="row">
        <div class="col-md-12">
            <table id="datatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Lesson Type</th>
                        <th>Page Number</th>
                        <th>Page Part</th>
                        <th>Lesson Audio</th>
                        <th>Lesson Image</th>
                        <th>Created On</th>
                        <th>Modified On</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                    <tr>
                        <td>@Enums.GetLessonLanguages(item.lesson_type)</td>
                        <td>@item.page_number</td>
                        <td>@item.page_part</td>
                        <td><a href="@AIDL.Shared.Service.clsUtils.GetAudioFilePath(item.audio, item.lesson_type)" target="_blank">Preview (" @item.audio ")</a></td>
                        <td><a href="@AIDL.Shared.Service.clsUtils.GetImageFilePath(item.image,item.lesson_type)" target="_blank">Preview (" @item.image ")</a></td>
                        <td>@Html.FormatDateTime(item.created_on)</td>
                        <td>@Html.FormatDateTime(item.modified_on)</td>
                        <td><a href="#"><span id='@("spanStatus"+item.Id)' class="label @(item.status == true ? "label-success" : "label-danger")">@(item.status == true ? "Active" : "InActive")</span></a></td>
                        <td><a href="/admin/Lessons/add/@item.Id" title="Edit Lesson" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>&nbsp;</a></td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
