﻿@model AIDL.Models.UserLogin
@{
    ViewBag.Title = "Login";
}
@section styles{
    <link href="~/Content/css/content_pages.css" rel="stylesheet" />
}
<section id="business-growth-p1" class="business-growth-p1">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Login</h1>
                <div class="heading-border"></div>

            </div>
        </div>
        <div class="row wow animated  animated" style="visibility: visible;">
            <div class="col-md-12">
                <div class="col-md-push-4"></div>
                <div class="col-md-4" style="margin:auto;">
                    @using (Html.BeginForm("index", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="well well-lg">
                            <div class="form-group">
                                <label>UserName/Email</label>
                                @Html.TextBoxFor(model => model.email, new { @class = "form-control", @autocomplete = "email", @placeholder = "UserName/Email" })
                                @Html.ValidationMessageFor(x => x.email)
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                @Html.TextBoxFor(model => model.password, new { @type = "password", @class = "form-control", @autocomplete = "Password", @placeholder = "Password" })
                                @Html.ValidationMessageFor(x => x.password)
                            </div>
                            <div>
                                <div class="pull-left">
                                    <span class="checkbox">
                                        <label>
                                            <input value="true" name="RememberMe" checked="checked" type="checkbox">
                                            Remember Me
                                        </label>
                                    </span>
                                </div>
                                <div class="pull-right">
                                    <a href="#" data-toggle="modal" data-target="#myModal">Forgot Password?</a>
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">Login</button>


                            @*<a href="/4inship-Memberships" class="pull-right">Not have an account?</a>*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>