﻿@{
    ViewBag.Title = "About Us";
}
@section styles{
    <link href="~/Content/css/content_pages.css" rel="stylesheet" />
}
<section id="business-growth-p1" class="business-growth-p1">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">About Us</h1>
                <div class="heading-border"></div>

            </div>
        </div>
        <div class="row wow animated  animated" style="visibility: visible;">
            <div class="col-md-12">
                <div class="well well-lg">
                    <p>We, Arora Italian Driving License School, are one of the best Drivers Training School in Italy. We are proving the best learning experience in Punjabi, Hindi and Urdu language. We are professional driving educators.</p>
                    <p>Our School provides in depth knowledge and Training about Rules and Regulations to be followed while Driving Expertise for various types of Vehicles which include Two Wheelers, Three Wheeler and Four Wheelers like Scooters, Motor Cycles and Cars. For the Purpose, our school has necessary infrastructure, which comprises various types of vehicles, well qualified and experienced professionals of the Driving Field.</p>
                    <p>We imparts both Theoretical as well as Practical Training to its students in such away, that makes them a Perfect Driver, well versed with the Intricacies of Driving , Road Signs and Traffic Rules and Regulations. Our School, for the facilitation of the people, offers Online Theory Test, Online Rules For Safe Driving and Free Online Road Signs. Furthermore , Our Training comprises Driving Test Classes, Light Motor Vehicle (NT) Classes, Heavy Motor Vehicle Driving Classes and we facilitate License Registration, License Renewal, Commercial License Registration and Heavy Vehicle Registration etc. We are in this field for the last many years and have a high reputation for providing efficient Drivers for many Transport Authorities.</p>
                </div>
            </div>
        </div>
    </div>
</section>
