﻿@model AIDL.Repository.tblContactUs
@{
    ViewBag.Title = "Contact";
}
@section styles{
    <link href="~/Content/css/contact.css" rel="stylesheet" />
}
<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-head4 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">Contact Us</h1>
    </div><!--/end container-->
</div>
<!--====================================================
                        CONTACT-P1
======================================================-->
<section id="contact-p1" class="contact-p1">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="contact-p1-cont">
                    <h3>Contact our experienced team</h3>
                    <div class="heading-border-light"></div>
                    <p>
                        You can get  in touch with us via email or by the phone call/whats app. We make sure that we will respond within 24 hours.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-p1-cont2">
                    <address class="address-details-f">
                        Italy <br>
                        Phone: <a href="tel:">+39 380 194 0123</a><br />
                        Email: <a href="mailto:gurwinarora@gmail.com">gurwinarora@gmail.com</a>
                    </address>
                    <ul class="list-inline social-icon-f top-data">
                        <li><a href="#" target="_empty"><i class="fa top-social fa-facebook" style="height: 35px; width:35px; line-height: 35px;"></i></a></li>
                        <li><a href="#" target="_empty"><i class="fa top-social fa-twitter" style="height: 35px; width:35px; line-height: 35px;"></i></a></li>
                        <li><a href="#" target="_empty"><i class="fa top-social fa-google-plus" style="height: 35px; width:35px; line-height: 35px;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====================================================
                        CONTACT-P2
======================================================-->
<section class="contact-p2" id="contact-p2">
    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-4 form-group">
                    @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @autocomplete = "name", @placeholder = "Name" })
                    @Html.ValidationMessageFor(x => x.FullName)
                </div>
                <div class="col-md-4 form-group">
                    @Html.TextBoxFor(x => x.CartaDiIdentit, new { @class = "form-control", @autocomplete = "carta", @placeholder = "Carta di identit" })
                </div>
                <div class="col-md-4 form-group">
                    @Html.TextBoxFor(x => x.CodiceFiscale, new { @class = "form-control", @autocomplete = "codice", @placeholder = "Codice fiscale" })
                </div>
                <div class="col-md-4 form-group">
                    @Html.TextBoxFor(x => x.Phone, new { @type = "tel", @class = "form-control", @autocomplete = "tel", @placeholder = "Phone" })
                    @Html.ValidationMessageFor(x => x.Phone)
                </div>
                <div class="col-md-4 form-group">
                    @Html.TextBoxFor(x => x.Email, new { @type = "email", @class = "form-control", @autocomplete = "email", @placeholder = "Email" })
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
                <div class="col-md-4 form-group">
                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @autocomplete = "subject", @placeholder = "Subject" })
                    @Html.ValidationMessageFor(x => x.Subject)
                </div>
                <div class="col-md-12 form-group">
                    @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @style = "height: 5em;", @placeholder = "Message" })
                </div>
                <div class="col-md-12 sub-but"><button class="btn btn-general btn-white" role="button">Send</button></div>
            </div>
        </div>
    }
</section>

<div class="margin-bottom-50px">
</div>
