﻿@{
    ViewBag.Title = "Fees";
}
@section styles{
    <link href="~/Content/css/content_pages.css" rel="stylesheet" />
    @*<style type="text/css">
            li {
                font-family: 'Hind', sans-serif;
                color: #64707b;
                font-size: 15px;
                font-weight: 300;
            }
        </style>*@
}
<section id="business-growth-p1" class="business-growth-p1">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Fees</h1>
                <div class="heading-border"></div>
            </div>
        </div>
        <div class="row wow animated  animated" style="visibility: visible;">
            <div class="col-md-6 ">
                <div class="card ">
                    <div class="card-header text-white bg-primary mb-3">
                        <div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="margin-bottom-50px">
</div>
