﻿@model AIDL.Repository.tblContactUs
@{
    ViewBag.Title = "Home";
}

<!--====================================================
                         HOME
======================================================-->
<section id="home">
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="carousel-item active slides">
                <div class="overlay"></div>
                <div class="slide-1"></div>
                <div class="hero ">
                    <hgroup class="wow fadeInUp">
                        <h1>
                            Italian Driving Lessons In <a href="" class=""><span class="">Punjabi</span></a><span>
                                @*<a href="" class="typewrite" data-period="2000" data-type='[ "Punjabi", "Hindi", "Urdu"]'>
                                        <span class="wrap"></span>
                                    </a>*@
                            </span>
                        </h1>
                        @*<h3>A driving license is one the best investment you will ever make.</h3>*@
                    </hgroup>
                    @*<button class="btn btn-general btn-green wow fadeInUp" role="button">Contact Now</button>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!--====================================================
                        ABOUT
======================================================-->
<section id="about" class="about">
    <div class="container">
        <div class="row title-bar pb-0">
            <div class="col-md-12">
                <h1 class="wow fadeInUp">Patente Punjabi AIDL committed to helping</h1>
                <div class="heading-border"></div>
                <p class="wow fadeInUp title-bar-about-p" data-wow-delay="0.4s">We, Patente Punjabi AIDL ( Arora Italian Driving License ) School, are one of the best Drivers Training School in Italy. We are proving the best learning experience in Punjabi, Hindi and Urdu language. We are professional driving educators.</p>
                <p class="wow fadeInUp title-bar-about-p" data-wow-delay="0.4s">Our School provides in depth knowledge and Training about Rules and Regulations to be followed while Driving Expertise for various types of Vehicles which include Two Wheelers, Three Wheeler and Four Wheelers like Scooters, Motor Cycles and Cars. For the Purpose, our school has necessary infrastructure, which comprises various types of vehicles, well qualified and experienced professionals of the Driving Field.</p>
                <p class="wow fadeInUp title-bar-about-p" data-wow-delay="0.4s">We imparts both Theoretical as well as Practical Training to its students in such away, that makes them a Perfect Driver, well versed with the Intricacies of Driving , Road Signs and Traffic Rules and Regulations. Our School, for the facilitation of the people, offers Online Theory Test, Online Rules For Safe Driving and Free Online Road Signs. Furthermore , Our Training comprises Driving Test Classes, Light Motor Vehicle (NT) Classes, Heavy Motor Vehicle Driving Classes and we facilitate License Registration, License Renewal, Commercial License Registration and Heavy Vehicle Registration etc. We are in this field for the last many years and have a high reputation for providing efficient Drivers for many Transport Authorities.</p>
                <div class="title-but"><a class="btn btn-general btn-green" role="button" href="/about-us">Read More</a></div>
            </div>
        </div>
    </div>
</section>
<section id="youtube" class="about">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp">Subcribe Patente Punjabi AIDL </h1>
                <div class="heading-border"></div>
                <div style="display: flex; flex-direction: row; flex-basis: 100%;justify-content: center;">
                    <iframe style="flex-basis: 100%; flex-grow: 0; flex-shrink: 1; margin: 0px;" height="315" src="https://www.youtube.com/embed/f2Uq_JzEUtg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="title-but"><a class="btn btn-general btn-green" role="button" href="https://www.youtube.com/channel/UCe7ThiM_9KD1NU1jaCBXLDw" target="_blank">Subscribe</a></div>
            </div>
        </div>
    </div>
</section>
<!--====================================================
                     WHAT WE DO
======================================================-->
<section class="what-we-do bg-gradiant">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h3>What we Do</h3>
                <a class="btn btn-general btn-white" role="button" href="/contact-us">Contact Us Today</a>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4  col-sm-6">
                        <div class="what-we-desc">
                            <div>
                                <svg class="svg-icon"><use xlink:href="/Content/img/icon.svg#icon_price"></use></svg>
                            </div>
                            <h6>BEST SERVICE</h6>
                            <p class="desc">We provide the up to mark services.</p>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-6">
                        <div class="what-we-desc">
                            <div>
                                <svg class="svg-icon"><use xlink:href="/Content/img/icon.svg#icon_timer"></use></svg>
                            </div>
                            <h6>BEST TIME TRAINING</h6>
                            <p class="desc">We give suitable timings.</p>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-6">
                        <div class="what-we-desc">
                            <div>
                                <svg class="svg-icon"><use xlink:href="/Content/img/icon.svg#icon_people"></use></svg>
                            </div>
                            <h6>CATEGORIES</h6>
                            <p class="desc">We provide traing to students, en-employed and employed peoples.</p>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-6">
                        <div class="what-we-desc">
                            <div>
                                <svg class="svg-icon"><use xlink:href="/Content/img/icon.svg#icon_target"></use></svg>
                            </div>
                            <h6>APPROACH</h6>
                            <p class="desc">To everyone we have our own approach.</p>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-6">
                        <div class="what-we-desc">
                            <div>
                                <svg class="svg-icon"><use xlink:href="/Content/img/icon.svg#icon_teacher"></use></svg>
                            </div>
                            <h6>CALM INSTRUCTOR</h6>
                            <p class="desc">Practical training for you will be happy.</p>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-6">
                        <div class="what-we-desc">
                            <div>
                                <svg class="svg-icon"><use xlink:href="/Content/img/icon.svg#icon_chair"></use></svg>
                            </div>
                            <h6>BEST CLASSROOM</h6>
                            <p class="desc">Equipped classrooms - all done according to the rules and laws</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====================================================
                    CONTACT HOME
======================================================-->
@*<div class="overlay-contact-h"></div>
    <section id="contact-h" class="bg-parallax contact-h-bg">
        <div class="container">
            <div class="row title-bar">
                <div class="col-md-12">
                    <h1 class="wow fadeInUp">Contact Us</h1>
                    <div class="heading-border"></div>
                    <div class="contact-h-cont">
                        <h3 class="cl-white">Contact Us</h3><br>
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                        {
                            <div class="form-group cl-white">
                                <label>Name</label>
                                @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @autocomplete = "name" })
                                @Html.ValidationMessageFor(x => x.FullName)
                            </div>
                            <div class="form-group cl-white">
                                <label>Carta di identit</label>
                                @Html.TextBoxFor(x => x.CartaDiIdentit, new { @class = "form-control", @autocomplete = "Carta di identit" })
                            </div>
                            <div class="form-group cl-white">
                                <label>Codice fiscale</label>
                                @Html.TextBoxFor(x => x.CodiceFiscale, new { @class = "form-control", @autocomplete = "codice" })
                            </div>
                            <div class="form-group cl-white">
                                <label>Phone</label>
                                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @autocomplete = "tel" })
                                @Html.ValidationMessageFor(x => x.Phone)
                            </div>
                            <div class="form-group cl-white">
                                <label>Email address</label>
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @type = "email", @autocomplete = "email" })
                                @Html.ValidationMessageFor(x => x.Email)
                            </div>
                            <div class="form-group cl-white">
                                <label for="subject">Subject</label>
                                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", @autocomplete = "subject" })
                            </div>
                            <div class="form-group cl-white">
                                <label for="message">Message</label>
                                @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @autocomplete = "message" })
                            </div>
                            <button class="btn btn-general btn-white" type="submit"><i fa fa-right-arrow></i>Send Message</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>*@
@section scripts{
    <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
}