﻿@{
    ViewBag.Title = "Services";
}
@section styles{
    <link href="~/Content/css/content_pages.css" rel="stylesheet" />
    <style type="text/css">
        li {
            font-family: 'Hind', sans-serif;
            color: #64707b;
            font-size: 15px;
            font-weight: 300;
        }
    </style>
}
<section id="business-growth-p1" class="business-growth-p1">
    <div class="container">
        <div class="row title-bar">
            <div class="col-md-12">
                <h1 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Services</h1>
                <div class="heading-border"></div>
            </div>
        </div>
        <div class="row wow animated  animated" style="visibility: visible;">
            <div class="col-md-12">
                <div class="well well-lg">
                    <p>We provide indepth knowledge and Training about Rules and Regulations to be followed while Driving Expertise for various types of Vehicles which include Two Wheelers, Three Wheeler and Four Wheelers like Scooters, Motor Cycles and Cars. For the Purpose, our school has necessary infrastructure, which comprises various types of vehicles.</p>
                    <ul>
                        <li>Online Theory Study</li>
                        <li>Online Road Signs</li>
                        <li>Rules for safe Driving</li>
                        <li>Light Motor (NT) Classes</li>
                        <li>Two Wheelers/Motor Cycle Driving Classes</li>
                        <li>Heavy Motor Vehicle Driving Classes</li>
                        <li>Other Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

