﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Patente Punjabi AIDL | Arora Italian Driving License</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/Content/img/fav-icons/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/Content/img/fav-icons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/fav-icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/img/fav-icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/img/fav-icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/img/fav-icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/img/fav-icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/img/fav-icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/img/fav-icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/img/fav-icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/img/fav-icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/img/fav-icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/img/fav-icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/img/fav-icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/img/fav-icons/favicon-16x16.png">
    <link rel="manifest" href="/Content/img/fav-icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/img/fav-icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Areas/Admin/css/preloadlayout")

    @Styles.Render("~/Areas/Admin/css/layout")
    <link href="~/Areas/Admin/css/designer.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/css/css_developer.min.css" rel="stylesheet" />
    @*<link href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css" rel="stylesheet" />*@
</head>
<body class="hold-transition skin-green sidebar-mini">
    <div id="preloader"><div id="status"></div></div>
    <!--Message Div Start-->
    <div id="div_msg" style="display: none;">
        <strong style="color:#3db714;"></strong>
    </div>
    <!--Message Div End-->
    <div class="wrapper">
        @*@{AIDL.Areas.Admin.Models.clsAuthenticateAdmin objAdminArea = new AIDL.Areas.Admin.Models.clsAuthenticateAdmin(); }*@

        <!-- Main Header -->
        <header class="main-header">
            <a href="~/Admin/" class="logo">
                <span class="logo-lg"><b>AIDL</b></span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/Admin/Login/Signout" id="signout">Sign out</a>
                        </li>
                    </ul>
                </div>
                <!-- Navbar Right Menu -->
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>Home</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i> <span>Users</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/admin/users/RegisterUser">Register User</a></li>
                            <li><a href="/admin/users">Manage Users</a></li>
                            @*<li><a href="@Url.Action("ReceivedShipments", "ReceivedShipment")">Manage Received Shipments </a></li>
                <li><a href="@Url.Action("ExpiringAndExpiredShipments", "ReceivedShipment")">Disposable Shipments</a></li>*@
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i> <span>Lessons</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/admin/lessons/add">Add Lesson</a></li>
                            <li><a href="/admin/lessons">Manage Lessons</a></li>
                            @*<li><a href="@Url.Action("ReceivedShipments", "ReceivedShipment")">Manage Received Shipments </a></li>
                <li><a href="@Url.Action("ExpiringAndExpiredShipments", "ReceivedShipment")">Disposable Shipments</a></li>*@
                        </ul>
                    </li>
                    @*<li><a href="@Url.Action("Index", "Order")"><i class="fa fa-book"></i> <span>Orders</span></a></li>*@

                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <section class="content">
                <div class="box box-info">
                    <div class="box-header with-border">
                        @RenderSection("BoxHeader",false)
                    </div>
                    <div class="form-horizontal">

                        @RenderBody()

                    </div>
                </div>
            </section>
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <!-- Default to the left -->
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#"><abbr title="Arora Italian Driving License">AIDL</abbr></a>.</strong> All rights reserved.
        </footer><div class="control-sidebar-bg"></div>
    </div>
    @*ImpScripts*@

    <script src="~/Scripts/jquery/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery/jquery.validate.bundle.min.js"></script>
    <script src="~/Areas/Admin/Scripts/datatables.bundle.min.js"></script>
    <script src="~/Areas/Admin/Scripts/layout.bundle.min.js"></script>
    <script src="~/Areas/Admin/Scripts/icheck.min.js"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
    @*ImpScripts*@
    @RenderSection("Scripts", false)

    <script src="~/Areas/Admin/Scripts/JS_developer.js"></script>
</body>
</html>
<script type="text/javascript">

	@Html.Raw(TempData["Msg"])
    @{ TempData.Remove("Msg");}
    @Html.Raw(ViewBag.Msg)

	$(document).ready(function () {
		$('.sidebar-menu a').not('a[href="#"]').click(function () {
			//store the id of the collapsible element
			localStorage.setItem('collapseItem', $(this).attr('href'));
		});
		var collapseItem = localStorage.getItem('collapseItem');
		if (collapseItem) {
			$('a[href="' + collapseItem + '"]').parents('ul').eq(0).addClass('treeview-menu menu-open').show()
			$('a[href="' + collapseItem + '"]').parents('ul').eq(0).parent().addClass('treeview active')
        }
	})
	$('#signout').click(function () {
		localStorage.clear();
    })

</script>