﻿body {font-family:calibri !important;}
img {max-width:100%;}
a {color:#3e71b4; text-decoration:none !important;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {font-family:calibri !important;}
h2, h1, h3, h4 {margin-top:0px !important; font-family:calibri;}
/*header {padding:10px 0px; border-bottom:1px solid #f5f5f5; box-shadow: 0px 3px 3px #ccc; margin-bottom:20px;}*/
.box-grey {background:#f5f5f5; border-radius:4px;}
.box-grey h2 {margin-top:0px; padding-top:0px;}
.box-grey h3 {margin-top:0px; padding-top:0px;}
.border-rgt {border-right:1px solid #ccc;}
.border-lft {border-left:1px solid #ccc;}
.space-top-bot {padding:15px 0 15px 30px;}
.space-top-bot-sm {padding:15px;}
.margintop30PX {margin-top:30px;}
.margintop25PX {margin-top:25px;}
.margintop20PX {margin-top:20px;}
.margintop15PX {margin-top:15px;}
.margintop10PX {margin-top:10px;}
.margintop5PX {margin-top:5px;}
.alert-success {color:#333;}
.close {color:#3e71b4 !important; opacity:1;}
.btn-success {}
.table > thead > tr > th {background:#2a7ac3; color:#fff;}
.table > thead > tr > th a {color:#fff;}
.box-white {background:#fff; border:1px solid #ccc; padding:10px; border-radius:4px;}
.text-md {font-size:16px;}
.paddingtop7PX {padding-top:7px;}
.line-height34PX {line-height:34px;}
.box-grey1 {background:#e5e5e5; padding:10px 0 10px 0;}
.box-grey1 h3, h4 {margin-top:0px;}
.margin0PX {margin:0px !important;}
.margintop90PX {margin-top:90px;}
.padding0PX {padding:0px !important;}
.paddingleft10PX {padding-left:10px !important;}
.paddingleft20PX {padding-left:20px !important;}
.paddingleft30PX {padding-left:30px !important;}
.inner-table-th {background:#c7c7c7 !important;}
.alert-yellow {background:#fdfcc9; padding:5px 10px;}
.bg-light-grey {background:#ccc; padding:10px; color:#000;}
.radio label {padding-left:0px !important;}
.checkbox label, .radio label {padding-left:0px !important;}
.input-group-addon, .input-btn-primary {vertical-align: middle; white-space: nowrap; width:1%;}
.input-btn-primary:last-child {border-top-left-radius: 0; border-bottom-left-radius: 0; display:table-cell;}

footer {margin-top:30px; padding:20px 0px; background:#555; color:#fff;}
footer a {color:#333;}
footer a:hover {color:#ccc;}

/* Fency Radio button and Checkbox */
.checkbox label:after, 
.radio label:after {content: ''; display: table; clear: both; }
.checkbox .cr, .radio .cr {position: relative; display: inline-block; border: 1px solid #a9a9a9; border-radius: .25em; width: 1.3em; height: 1.3em; float: left; margin-right: .5em;
}
.radio .cr {border-radius: 50%; }
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {position: absolute; font-size: .8em; line-height: 0; top: 50%; left: 20%;}
.radio .cr .cr-icon {margin-left: 0.04em;}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

/* button circle */
.btn-circle {width: 30px; height: 30px; text-align: center; padding: 6px 0; font-size: 12px; line-height: 1.428571429; border-radius: 15px;}
.btn-circle.btn-lg {width: 50px; height: 50px; padding: 10px 16px; font-size: 18px; line-height: 1.33; border-radius: 25px;}
.btn-circle.btn-xl {width: 70px; height: 70px; padding: 10px 16px; font-size: 24px; line-height: 1.33; border-radius: 35px;}

/* internal pages header */
.main_header {position:fixed; top:0px; max-height:70px; z-index:999; width:100%; background:none; overflow:hidden; -webkit-transition:all 0.3s; transition:all 0.3s; opacity:0; top:-100px; padding-bottom: 6px;}
.open-nav { max-height: 370px !important; }
.open-nav .mobile-toggle {transform: rotate(-90deg); -webkit-transform: rotate(-90deg);}
.sticky {background-color:rgba(255, 255, 255, 0.93); opacity:1; top:0px; border-bottom:1px solid silver;}
.logo {padding-top:5px; font-size:25px; color:#3498db; text-transform:uppercase; float:left; display:block; margin-top:0; line-height:1; margin-bottom:10px;}
.main_menu li a:focus{outline:none;}
.main_menu li a:active{text-decoration: none;}
.main_menu {padding-top:4px;}
.main_menu li {margin:0px 20px; font-size:15px; font-weight:bolder;}
nav ul li.green {background:#63b24b; color:#fff; font-weight:bolder; padding:5px 10px;}
nav ul li.green a {color:#fff;}
nav ul {list-style:none; overflow:hidden; text-align:right; float:right;}
nav ul li {display:inline-block; margin-left:11px; line-height:1.5;}
nav ul a {color:#000; text-transform: uppercase;}
nav ul li.active a {color:#519a3b;}
.mobile-toggle {padding-top:22px; cursor:pointer; font-size:20px; position:absolute; right:20px; top:0; width: 30px; -webkit-transition:all 200ms ease-in; -moz-transition:all 200ms ease-in; transition:all 200ms ease-in;}
.mobile-toggle span {width:30px; height:4px; margin-bottom:6px; border-radius:1000px; background:#8f8f8f; display:block;}
.mouse {display:block; margin:0 auto; width:26px; height:46px; border-radius:13px; border: 2px solid #ffffff; position:absolute; position:absolute; left:51%; margin-left:-26px;}
.mouse span {display:block; margin:6px auto; width:2px; height:2px; border-radius:4px; background:#ffffff; border:1px solid transparent; -webkit-animation-duration:1s; animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite; -webkit-animation-name:scroll; animation-name:scroll; }
 @-webkit-keyframes scroll { 0% {opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
 100% {opacity:0; -webkit-transform:translateY(20px); transform:translateY(20px);}
}
@keyframes scroll { 0% { opacity:1; -webkit-transform:translateY(0); -ms-transform:translateY(0); transform:translateY(0); }
 100% {opacity:0; -webkit-transform:translateY(20px); -ms-transform:translateY(20px); transform:translateY(20px);}
}
.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
    width: 12px;
}

.table-responsive::-webkit-scrollbar:horizontal {
    height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}
.ul-list-xs {}
.ul-list-xs ul{margin:0px; padding:0px;}
.ul-list-xs ul li {padding-left:0px; padding-right:0px;}
.color-green {color:#63b24b;}
.color-red {color:#d9534f;}
.overflow-V {overflow:visible !important;}
.overflow-V .divider {margin:0px !important;}
.overflow-V li a {padding:6px 10px !important;}
footer {margin-top:0px; padding:20px 0px; background:#555; color:#fff;}
footer a {color:#333;}
footer a:hover {color:#ccc;}
.row .container {margin-top:10px;margin-bottom:0;}
.spacetop20PX-xs {margin-top:20px;}
.spacetop20PX-xs .col-lg-4 .col-lg-6{padding:4px;}

/*Pardeep Started here*/

/*ManageOrders Page Settings Ends Her*/

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    #OrderBoxesdiv .hideinsmall {
            display:none;
        }
    #confirmrelated a {
            font-size: 10px;
            margin-top:-30px;
    }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .spacetop20PX-xs .col-sm-6 {padding:5px;}
    #OrderBoxesdiv .hideinsmall {display:none;}
    #confirmrelated a {
            font-size: 10px;
            margin-top:-30px;
    }
   
    }

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #confirmrelated a {
            font-size: 10px;
            margin-top:-30px;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .spacetop10PX-xs img{
        margin-bottom:8px;
    }
    
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}


@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) { 
    #confirmrelated a {
            font-size: 12px;
            margin-top:-30px;
    }
        }


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
     #OrderBoxesdiv .hideinsmall {
            display:none;
        }
     .spacetop10PX-xs img{
        margin-bottom:8px;
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
     
    #OrderBoxesdiv .hideinsmall {
            display:none;
        }
    .spacetop10PX-xs img{
        margin-bottom:8px;
    }


}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) { 
   
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
          
}

@media only screen 
  and (min-device-width: 900px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 3){
       
}

/*ManageOrders Page Settings Ends Her*/




/*RecievedShipment Page Setting Starts Here*/
table {
    margin:0;padding:0;
}
.btn {
    margin:1px;
}

/*RecievedShipment Page Setting Ends Here*/

/*Pardeep Ends here*/