﻿.navbar-logo {
    height: 40px;
}
/*Validation Css Start*/
.AddressBackground {
    background-color: #f9f9f9;
}

.error {
    color: red;
}

.display-none {
    display: none;
}

.msg-color {
    color: #3db714;
}

.green-color {
    color: green !important;
}

.alert-success {
    color: #015402;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.field-validation-error {
    color: #ff0000;
}

/*#contact_form .field-validation-error > span {
    color: #ff0000 !important;
    width: auto !important;
}

#contact_form .field-validation-error {
    width: auto !important;
}

.field-validation-valid {
    display: none;
}*/

.input-validation-error {
    border: 1px solid #ff0000;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

/*.form-space {
    margin-top: 7px;
}*/

/*.validation-summary-valid {
    display: none;
}*/
/*Validation Css End*/



.title-bar-about-p {
    text-align: left !important;
    font-size: 15px !important;
    line-height: 1.5 !important;
    max-width: 100% !important;
    padding-bottom: 1.5em !important;
}

.verticle-hr-right {
    border-right: 5px solid;
    height: 100vh;
    width: 5px;
    color: rgb(52, 152, 219);
}
